@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div>
    <label style="font-size:large">
        Add new movies, see all movies, <br />
        edit all existing movies.
    </label>
    <br />
    @Html.ActionLink("Movies", "Movies", "Home", new { @class = "btn btn-primary btn-lg" })
</div>
<br />
<br />
<br />

<div>
    <label style="font-size:large">
        Add new genres, see all genres, <br />
        edit all existing genres.
    </label>
    <br />
    @Html.ActionLink("Genres", "Genres", "Home", new { @class = "btn btn-primary btn-lg" })
</div>
<br />
<br />
<br />

<div>
    <label style="font-size:large">
        Add new actors, see all actors, <br />
        edit all existing actors.
    </label>
    <br />
    @Html.ActionLink("Actors", "Actors", "Home", new { @class = "btn btn-primary btn-lg" })
</div>
<br />
<br />
<br />

<div>
    <label style="font-size:large">
        Add new directors, see all directors, <br />
        edit all existing directors.
    </label>
    <br />
    @Html.ActionLink("Directors", "Directors", "Home", new { @class = "btn btn-primary btn-lg" })
</div>
<br />
<br />
<br />
